@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
}

header {
    text-align: center;
    align-items: center;
}

h1 {
    color: #333;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    color: darkblue;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 15px;
}

a {
    color: teal;
    text-decoration: none;
}

ul {
    list-style-type: circle;
    padding-left: 40px
}

li {
    margin-bottom: 10px;
}

.contact {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.skills, .education, .summary, .experience {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-sizing: border-box;
}